*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-dark: #170312;
    --purple-meium: #33032d;
    --purple-light: #531253;
    --gray-light: #aeaeae;
    --white: #f4fffd;
}

body {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 22px;
}

/* ------------------------- */
/* Header */
/* ------------------------- */
.contenido-header {
    width: 100%;
    height: 100vh;
    background-image: url(img/agustina.png.jpg1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenido-header .fondo {
    width: 0%;
    height: 100%;
    max-width: 100%;
}

.contenido-header .texto {
    width: calc(100vw - 20px);
    height: 100vh;
    font-size: 90px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#b90a84
}

/* ------------------------- */
/* NAVBAR */
/* ------------------------- */
.menu {
    background-color: #b90a84;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    margin-bottom: 60px;
}

.menu a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 26px;
    background-color: #b90a84;
    margin: 0 10px;
    transition: .5s ease all;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    transform: translateY(18px);
    background-color: #b90a7f;
}


/* ------------------------- */
/* Nosotros */
/* ------------------------- */
.nosotros {
    margin-bottom: 60px;
} 

.subtitulo {
    font-size: 20px;
    color: var(--purple-dark);
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.subtitulo span {
    background-color: #fff;
    padding: 0 15px;
    z-index: 99;
    position: relative;
}

.subtitulo::after {
    content:  "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background: var(--purple-dark);
    position: relative;
    top: -29px;
    z-index: 1;
}

.nosotros .titulo {
    width: 90%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}

.nosotros .enlace {
    display: inline-block;
    margin-top: 40px;
    color: var(--purple-light);
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: .3s ease all;
}



.nosotros .enlace:hover {
text-decoration: none;
letter-spacing: 3px;
border-bottom: 1px solid var(--purple-light);
}


/* ------------------------- */
/* Productos */
/* ------------------------- */

.productos {
    background: var(--gray-light);
    padding: 20px;
    margin-bottom: 60px;
}

.Productos .titulo {
    width: 90%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}


.producto .producto {
    position: relative;
    width: 100%;
}

.producto .overlay {
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #b90a7f;
    overflow: hidden;
    transition: .5s ease;
}


.Productos .producto:hover .overlay {
    width: 100%;
    opacity: .8;
}

.Productos .producto .overlay-texto {
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--white);
    font-size: 18px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.Productos .btn-productos {
    background-color: #b90a7f;
    color: #fff;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid transparent;
    transition: .3s ease;
}

.Productos .btn-productos:hover {
    background-color: transparent;
    border: 2px solid #b90a7f;
    color: #b90a7f;
    margin-bottom: 60px;
}


.redes-sociales {
	padding: 10px;
	background-color: #b90a7f;
    text-align: center;
    
}

.redes-sociales img {
	padding: 10px;
	border-radius: 100%;
	width: 50px;
	transition: .3s ease all;
}

.redes-sociales img:hover {
	transform: scale(1.2);
}



.table, th, td {
    border: 1px solid;
    width: 100%;
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 500px;
}


table {
    width: 50%;
    height: 60%;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: px;
  }


img {
    max-width: 100%;
    height: auto;
  }


  .left-aligned-table {
    margin-left: 0;
  }
  


  

.container-form img {
    padding: 10px;
    border-radius: 100%;
    width: 50px;
  }

  .container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
    margin-bottom: 100px;
  }

  .container-form h2 {
    margin-bottom: 15px;
    font-size: 35px;
  }

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
}

.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;

}



.container-form form textarea{
    max-width: 630px;
    min-width: 630px;
    min-height: 240px;
    max-height: 250px;
}


.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: #b90a7f;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar{
    background: #b90a7f;
}


.contenedor{
    text-align: left;
    background-color: #aeaeae;
}

.whatsapp-container{
    color: rgb(0, 255, 13);
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 300px;
}


.whatsapp-container a{
    color: rgb(0, 255, 13);
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.whatsapp-container img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.whatsapp-container{
    display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 20vh;
}

